<h3>Stylist Sign-in</h3>

<form action="/stylist" method="post">
  <div class="form-group">
    <label for='name'>stylist:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Sign up</button>
</form>
